body {
    height: 100vh;
}

#content {
    height: 70%;
    align-items: center;
    padding: 10%;
    padding-top: 2%;
    font-size: 1.5rem;
}

#buttons {
    grid-template-rows: auto;
    width: 60%;
}

input {
    height: 8vh;
}

button {
    margin: 10%;
    height: 80%;
    margin-left: 10%;
}

#elderlyh1 {
    padding-left: 10%;
    text-align: center;
    margin: 2%;
    margin-bottom: 0;
}

#chat-signin {
    padding-left: 10%;
    text-align: center;
}

#signin-btn {
    background-color: #73b76e;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

#chatroom-number,
#chatroom-username {
    padding: 10px 36px;
    font-size: 16px;
    border-radius: 15px;
}

button h1 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

header {
    padding-left: 10%;
    padding-right: 10%;
}

img {
    width: 40%;
    margin-left: 29%;
}
