body {
    height: 100vh;
}

#content {
    height: 70%;
    display: grid;
    align-items: center;
}

#buttons {
    display: grid;
    grid-template-rows: auto;
    width: 60%;
}

button {
    margin: 10%;
    height: 80%;
}

img {
    width: 40%;
    margin-left: 29%;
}
