#section {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#page-title {
    text-align: center;
}

#buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

button {
    border: none;
    background-color: white;
}

#smiley {
    color: green;
    font-size: 150px;
}

#frowny {
    color: red;
    font-size: 150px;
}

#smiley_text {
    text-align: center;
    font-size: 36px;
    color: #5cb85c;
}

#frowny_text {
    text-align: center;
    font-size: 36px;
    color: #d9534f;
}

img {
    width: 40%;
    margin-left: 29%;
}