body {
    height: 100vh;
}

#content {
    height: 80%;
    display: grid;
    align-items: center;
}

#buttons {
    display: grid;
    grid-template-rows: auto;
    width: 60%;
}

button {
    margin: 10%;
    height: 80%;
}

#elderlyh1 {
    padding-left: 10%;
    text-align: center;
}

#chat-signin {
    padding-left: 10%;
    text-align: center;
}

#signin-btn {
    background-color: #73B76E;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

#chatroom-number, #chatroom-username {
    padding: 10px 36px;
    font-size: 16px;
    border-radius: 15px;

}

button h1 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover { color:white; }
