body {
    height: 100vh;
}

#content {
    height: 80%;
    display: grid;
    align-items: center;
}

#buttons {
    display: grid;
    grid-template-rows: auto;
    width: 60%;
}

button {
    margin: 10%;
    height: 50%;
}

#elderlyh1 {
    padding-left: 10%;
    text-align: center;
}

#chat-signin {
    padding-left: 10%;
    text-align: center;
}