body {
    height: 100vh;
}

#content {
    height: 80%;
    display: grid;
    align-items: center;
}

#buttons {
    display: grid;
    grid-template-rows: auto;
    width: 60%;
}

button {
    margin: 10%;
    height: 50%;
}
