body{
    margin: 0px;
    padding: 0px;
}

#content {
    padding-left: 10%;
    padding-right: 10%;
}

/* #content {
    /* display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 5vh 15vh 15vh 15vh 30vh 15vh;
} */ 

/* .form {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.formbutton {
    background-color: #e7e7e7; color: black;
    font-size: 16px;
    border-radius: 12px;
} */

#sign-up {
    text-align: center;
    margin: 5%;
}

img {
    width: 40%;
    margin-left: 29%;
}